@import '../../shared/scss/pallete';
.Leftwrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: orange;
    .header{
        font-size: 40px;
        font-weight: 900;
    }
    .leftButtons{
        width: 80%;
        display: flex;
        height: 40px;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
        font-size: 20px;
        padding-left: 15px;
        position: relative;
        border: none;
        border-radius: 10px;
        background-color: $button;
        cursor: pointer;
        min-width: 170px;
    }
    .leftButtons:hover{
        background-color: rgb(241, 206, 142);
    }
    .orange{
        background-color: rgb(241, 206, 142);
        }
}