<div class="Leftwrapper">
<h1 class="header">XChat</h1>
<button class="leftButtons">
    <i class="fa-solid fa-house"></i>
    Home
</button>

<button class="leftButtons">
    <i class="fa-solid fa-people-line"></i>
    My Network 
    <div style="display: none"  class="indicator">1</div>
</button>

<button class="leftButtons">
    <i class="fa-regular fa-message"></i>
    Messaging
    <div style="display: none" class="indicator">1</div>
</button>


<button class="leftButtons">
    <i class="fa-solid fa-bell"></i>
    Notification
    <div style="display: none" class="indicator">1</div>
</button>

<button (click)="openPdf()" class="leftButtons">
    <a id="pdfLink" style="display: none;" href="../../../assets/sample.pdf" target="_blank"></a>
    <i class="fa-solid fa-lock"></i>
    privacy
</button>
<button (click)="logOut()" class="leftButtons">
    <i class="fa-solid fa-right-from-bracket"></i>
    Log out
</button>
</div>
