<div class="Leftwrapper">
<h1 class="header">XChat</h1>
<button  class="leftButtons orange">
    <i class="fa-solid fa-house"></i>
    Home
</button>

<button mat-raised-button [matBadge]='this.subjectsService.RequestarrayLenght$ | async' matBadgePosition="after" matBadgeColor="accent" 

[disabled]="(this.subjectsService.RequestarrayLenght$ | async) == 0"  (click)="OpenNetworkPop($event)" class="leftButtons">
    <i class="fa-solid fa-people-line"></i>
    My Network 
</button>

<button (click)="Seefollowers()" class="leftButtons">
    <i class="fa-solid fa-user-group"></i>
    Followers
</button>

<button (click)="openPdf()" class="leftButtons">
    <a id="pdfLink" style="display: none;" href="../../../assets/sample.pdf" target="_blank"></a>
    <i class="fa-solid fa-lock"></i>
    privacy
</button>
<button (click)="logOut()" class="leftButtons">
    <i class="fa-solid fa-right-from-bracket"></i>
    Log out
</button>
</div>
