@import '../../shared/scss/pallete';
.profile{
    height: 100%;
    background-color: $bakground;
    position: relative;
    .closeProfile{ //direqtivat unda gavitano ar damaviwydes
        position: absolute;
        background-color: red;
        z-index: 2;

        border: none;
        background-color: red;
        border-radius: 50%;
        width:30px;
        height: 30px;
        font-size: 20px;
        margin-right: 10px;
        color: white;
        line-height: 30px;
        cursor: pointer;
        position: absolute;
        right: 0;
        top:10px
    }
    .background{
        background-color: rebeccapurple;
        width: 100%;
        height: 120px;
        position: relative;
    }
    .profileimage{
        width: 120px;
        height: 120px;
        position: absolute;
        top: 70px;
        margin-left: 20px;
        border-radius: 5px;
    }
    .profilenames{
        position: absolute;
        top: 200px;
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        :first-child{
            font-size: 26px;
        }
        :last-child{
            font-size: 20px;
        }
    }
    .profilebuttons{
        position: absolute;
        display: flex;
        bottom: 100px;
        margin-left: 20px;
        width: 40%;
        gap: 10px;
        .connect{
            border-radius: 10px;
            background-color: cornflowerblue;
        }
        .connect:hover{
            background-color: white;
            color: cornflowerblue;
        }
        .grayish-button {
            background-color:gray;
            cursor: not-allowed; 
          }
        button{
            width: 100px;
            height: 30px;
            border: none;
            color: white;
            cursor: pointer;
            font-weight: 600;
        }
    }
}