<div class="profile">
    <button class="closeProfile" mat-dialog-close>x</button>
    <div class="background"></div>
    <div>
    <input #fileUpload (change)="onFileSelect($event)" type="file" style="display: none;">
    <img (click)="fileUpload.click()" style="cursor: pointer;" class="profileimage" *ngIf="subjectsService.newpath$ | async" [src]="subjectsService.newpath$ | async" alt="">
    </div>
    <div class="profilenames">
        <span>{{fullname}}</span>
        <span>@{{userDataService.nickname}}</span>
    </div>
    <div class="profilebuttons">
    <button><i class="fa-solid fa-lock"></i>  Follow</button>
    </div>
</div>