<div class="box">
    <div [formGroup]="form" class="indiv">
        <h1>Register</h1>
        <div>
            <div class="content">
                <span><span *ngIf="hasError('firstname','required')" class="asterisk">*</span>Firstname</span>
                <input formControlName="firstname" type="text">
            </div>
            <!-- <span *ngIf="hasError('firstname','email')" class="warn">Email is incorret, it should contain @gmail.com</span> -->
            <span *ngIf="hasError('firstname','required')" class="warn">This Field is Required</span>
        </div>

        <div>
            <div class="content">
                <span><span *ngIf="hasError('lastname','required')" class="asterisk">*</span>Lastname</span>
                <input formControlName="lastname" type="text">
            </div>
            <!-- <span *ngIf="hasError('firstname','email')" class="warn">Email is incorret, it should contain @gmail.com</span> -->
            <span *ngIf="hasError('lastname','required')" class="warn">This Field is Required</span>
        </div>

        <div>
            <div class="content">
                <span><span *ngIf="hasError('email','required')" class="asterisk">*</span>E-mail</span>
                <input formControlName="email" type="email">
            </div>
            <span *ngIf="hasError('email','email')" class="warn">Email is incorret, it should contain @gmail.com</span>
            <span *ngIf="hasError('email','required')" class="warn">This Field is Required</span>
        </div>


        <div class="pass">
            <div>
                <div class="content">
                    <span><span *ngIf="hasError('password','required')" class="asterisk">*</span>Password</span>
                    <input formControlName="password" type="text">
                </div>
                <span *ngIf="hasError('password','pattern')" class="warn">Password is incorret,use only English
                    characters </span>
                <span *ngIf="hasError('password','required')" class="warn">This Field is Required</span>
                <span *ngIf="hasError('password','minlength')" class="warn">Password minimum lenght is 7 </span>
            </div>
            <div>
                <div class="content">
                    <span><span *ngIf="hasError('confirmPassword','required')" class="asterisk">*</span>Confirm
                        Password</span>
                    <input formControlName="confirmPassword" type="text">
                </div>
                <span *ngIf="hasError('confirmPassword','passwordMismatch')" class="warn">Password and Confirm password
                    should be same </span>
                <span *ngIf="hasError('confirmPassword','required')" class="warn">This Field is Required</span>
            </div>
        </div>


        <div>
            <div class="content">
                <span><span *ngIf="hasError('nickname','required')" class="asterisk">*</span>Nickname</span>
                <input formControlName="nickname" type="text">
            </div>
            <span *ngIf="hasError('nickname','required')" class="warn">This Field is Required</span>
            <span *ngIf="hasError('nickname','pattern')" class="warn">Nickname is incorret,use only English characters
                numbers and "-"</span>
        </div>

        <div>
            <div class="content">
                <span><span *ngIf="hasError('phone','required')" class="asterisk">*</span>Phone number</span>
                <input formControlName="phone" type="text">
            </div>
            <span *ngIf="hasError('phone','pattern')" class="warn">number should start with "+995" and should be 13
                digits</span>
            <span *ngIf="hasError('phone','required')" class="warn">This Field is Required</span>
        </div>
        <button [disabled]="disabled()" (click)="onSubmit()">{{action}}</button>
    </div>

</div>