<div class="dialog">
    <div class='header'>
    <h1>Create a Post</h1>
    <button class="close" mat-buttin mat-dialog-close>x</button>
    </div>
    <hr>
    <div class="photo">
        <img class="imageinPopup" src="" alt="">
        <div class="name">
    <div class="withnick">
        <span>{{userDataService.firstname+' '+userDataService.lastname}}</span>
        <span class="nicname">@{{userDataService.nickname}}</span>
    </div>
        <span class="visible"><i class="fa-solid fa-globe"></i>anyone</span>
        </div>
    </div>
    <div [formGroup]="form" class="areawrapper">
        <textarea formControlName="textarea" class="textarea" name="area" rows="10">

        </textarea>
        <span *ngIf="form.status!=='VALID' && postPressed">Please write text in Text area</span>
    </div>
    <input (click)="log()" class="postbutton" type="button" value="Post" [mat-dialog-close]="true">
</div>